
.pokemonCard{
    border-radius: 10px;
    border: solid 1px green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #0a5e0a;
    padding: 0.5em;
    max-width: 350px;
    text-align: center;
}

.cardGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemonImage{
    
}