.card.animate {
  animation: cardDisappear 1s 0.5s forwards;
}

@keyframes cardDisappear {
  to {
    opacity: 0;
    transform: scale(0);    
  }
}
.card.reset .front {
  transition: none;
}
.card .front {
  transform: rotateY(90deg);
  transition :  all ease-in 0.2s;  
  position: absolute;    
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition :  all ease-in 0.2s;  
  transition-delay: 0.1s;  
}
.flipped .back  {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
