section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}