@font-face {
    font-family: "Ketchum";
    src: local("Ketchum"),
        url(../../Fonts/Ketchum.otf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Shanders";
    src: local("Shanders"),
        url("../../Fonts/Shanders\ free.otf") format("truetype");
    font-weight: bold;
}

#initialCard {
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5px;
    width: 1px;
    height: 450px;
    margin-bottom: 30px;
}

.card {
    margin-left: 30px;
    position: relative;
    min-height: 420px;
    min-width: 360px;
    width: 360px;
    height: 420px;
    transition: transform 400ms;
}

.card-front,
.card-back {
    position: absolute;
    backface-visibility: hidden;
    overflow: hidden;
    width: 105%;
    height: 110%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.card-back {
    margin-top: 50px;
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(-180deg);
}

.containerCard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;
    margin: 30px;
    transform-style: preserve-3d;
}

.containerCard div {
    display: flex;
    width: 70%;
    gap: 10px;
}

.containerCardBack div {
    display: flex;
    width: 100%;
}

.border {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    min-width: 250px;
    border: 12px solid #fce460;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 4px inset, rgba(0, 0, 0, 0.6) 5px 10px 19px -1px;
}

.containerCardBack {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 270px;
    margin: 20px;
    transform-style: preserve-3d;
}

.containerCardBack:focus {
    transform: rotateY(180deg);
    outline: none;
    transition: transform 1s;
}

.containerCardBackImg {
    background-image: url(../../Assets/cardBack3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -12.5%;
    left: 0;
    max-width: 380px;
    width: 340px;
    height: 532px;
    border-radius: 25px;
}

.borderBack {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 425px;
    min-width: 265px;
    border-left: 5px solid #192653;
    border-right: 5px solid #192653;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 4px inset, rgba(0, 0, 0, 0.6) 5px 10px 19px -1px;
    overflow: hidden;
}

.top {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    max-height: 30px;
}

.topLeft {
    position: absolute;
    top: 10%;
    left: 0%;
    z-index: 10;
}

.status {
    position: relative;
    margin-top: 2px;
    margin-left: -7px;
    max-width: 50px;
    height: 20px;
    overflow: hidden;
    background: rgb(216, 220, 231);
    background: linear-gradient(124deg, rgba(216, 220, 231, 1) 0%, rgba(240, 240, 240, 1) 50%, rgba(118, 119, 120, 1) 100%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) -2px -2px 0px inset;
    clip-path: polygon(0 20%,
            10% 0,
            90% 0,
            100% 20%,
            100% 80%,
            90% 100%,
            10% 100%,
            0% 80%,
            0% 10%)
}

.shadowStatus {
    position: absolute;
    max-width: 48px;
    min-height: 20px;
    top: 8%;
    left: -3.5%;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 1px 4px 1px, rgba(0, 0, 0, 0.09) 0px 8px 10px, rgba(0, 0, 0, 0.09) 0px 1px 0px, rgba(0, 0, 0, 0.09) 0px 1px 16px;
}

.status i {
    margin-top: 3px;
    margin-left: 6px;
    font-size: 13px;
    font-family: sans-serif;
}

.name {
    position: absolute;
    left: 26%;
    top: 20%;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
}

.topRight {
    display: flex;
    position: absolute;
    right: 6%;
    z-index: 10;
}

.hp {
    position: absolute;
    right: -25%;
    font-size: 9px;
    top: 17px;
    font-weight: 600;
    font-family: sans-serif;
}

.numberHp {
    position: absolute;
    right: -33%;
    font-size: 24px;
    font-weight: 600;
    top: 4px;
    font-family: sans-serif;
}

.symbolType {
    position: absolute;
    right: -41%;
    height: 85px;
    top: -35px;
}

.symbolType img:first-child {
    z-index: 2;
}

.symbolType img {
    margin-right: -80px;
}

.square {
    position: absolute;
    top: 33%;
    left: 50%;
    min-width: 232px;
    min-height: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: 2px solid #a89da5;
}

.parallax-borderImg {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -40%);
    /* background-image: url("../../Assets/backgroundbulbasaur.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 120%;
    min-width: 300px;
    z-index: 1;
    object-fit: cover;
    transition: 1s linear;
}

.parallax-imgPokemon {
    position: absolute;
    height: 220px;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 2;
    transition: 1s linear;
}

.backgroundIvysaur {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 110%;
    min-width: 260px;
    z-index: 1;
    object-fit: cover;
    transition: 1s linear;
}

.bgVenusaur {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 110%;
    min-width: 260px;
    z-index: 1;
    object-fit: cover;
    transition: 1s linear;
}

.bgCharizard {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 110%;
    min-width: 225px;
    height: 225px;
    z-index: 1;
    object-fit: cover;
    transition: 1s linear;
}

.bgKakuna {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 110%;
    min-width: 215px;
    height: 212px;
    z-index: 1;
    object-fit: cover;
    transition: 1s linear;
}

.bgBeedrill {
    position: absolute;
    top: 28%;
    left: 50.5%;
    transform: translate(-50%, -40%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 110%;
    min-width: 260px;
    z-index: 1;
    object-fit: cover;
    transition: 1s linear;
}

.backgroundRaticate {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120%;
    min-width: 260px;
    margin-top: 20px;
    z-index: 1;
    object-fit: cover;
    transition: 1s linear;
}

.ivysaur {
    position: absolute;
    height: 400px;
    top: 37.65%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 2;
    transition: 1s linear;
}

.venusaur {
    position: absolute;
    height: 487px;
    top: 38.6%;
    left: 50.5%;
    transform: translate(-50%, -60%);
    z-index: 2;
    transition: 1s linear;
}

.charizard {
    position: absolute;
    height: 537px;
    top: 41%;
    left: 50.5%;
    transform: translate(-50%, -60%);
    z-index: 2;
    transition: 1s linear;
}

.blastoise {
    position: absolute;
    height: 723px;
    top: 44.3%;
    left: 50.7%;
    transform: translate(-50%, -60%);
    z-index: 2;
    transition: 1s linear;
    border: 1px solid black;
}

.caterpie {
    position: absolute;
    height: 400px;
    top: 37.65%;
    left: 50.5%;
    transform: translate(-50%, -60%);
    z-index: 2;
    transition: 1s linear;
}

.butterfree {
    position: absolute;
    height: 577px;
    top: 41%;
    left: 50.5%;
    transform: translate(-50%, -60%);
    z-index: 2;
    transition: 1s linear;
    margin-top: 3px;
}

.kakuna {
    position: absolute;
    height: 610px;
    top: 41%;
    left: 50.5%;
    transform: translate(-50%, -60%);
    z-index: 2;
    transition: 1s linear;
    margin-top: 4px;
}

.beedrill {
    position: absolute;
    height: 410px;
    top: 36.3%;
    left: 48.6%;
    transform: translate(-50%, -60%);
    z-index: 2;
    transition: 1s linear;
}

.pidgeot {
    position: absolute;
    height: 455px;
    top: 37.65%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 2;
    transition: 1s linear;
    margin-top: 6px;
    margin-left: 0.5px;
}

.borderBottomImg {
    position: absolute;
    top: 55.3%;
    left: 50%;
    transform: translate(-50%, -40%);
    height: 15px;
    min-width: 232px;
    border: 2px solid #a89da5;
    background: rgb(118, 119, 120);
    background: linear-gradient(69deg, rgba(118, 119, 120, 1) 0%, rgba(236, 236, 236, 1) 50%, rgba(118, 119, 120, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 1px 4px 1px, rgba(0, 0, 0, 0.09) 0px 8px 10px, rgba(0, 0, 0, 0.09) 0px 1px 0px, rgba(0, 0, 0, 0.09) 0px 1px 16px;
}

.description {
    min-width: 200px;
    font-size: 12px;
    margin-top: 1px;
}

.move {
    position: absolute;
    top: 85%;
    left: 50%;
    min-width: 250px;
    min-height: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.moveTop {
    display: flex;
    flex-direction: row;
    min-width: 250px;
    align-items: center;
}

.moveBot {
    display: flex;
    flex-direction: row;
    min-width: 250px;
    align-items: center;
    position: absolute;
    top: 20%;
}

.moveType {
    display: flex;
    margin-left: -5px;
}

.moveType img {
    height: 42px;
    margin-right: -35px;
}

.moveName {
    position: absolute;
    right: -5%;
    font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
}


.moveCost {
    position: absolute;
    right: -60%;
    font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
}

.moveDesc {
    min-width: 232px;
    font-size: 12px;
    font-family: sans-serif;
}

.bottomCard {
    position: absolute;
    top: 91%;
    left: 50%;
    min-width: 232px;
    min-height: 12%;
    transform: translate(-50%, -50%);
}

.weakResRetreat {
    display: flex;
}

.leftBar {
    position: absolute;
    background: linear-gradient(124deg, rgba(216, 220, 231, 1) 0%, rgba(240, 240, 240, 1) 50%, rgba(118, 119, 120, 1) 100%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) -2px -2px 0px inset;
    min-height: 18px;
    min-width: 180px;
    left: -7%;
    top: -4%;
    display: flex;
    align-items: center;
    clip-path: polygon(0 20%,
            2% 0,
            98% 0,
            100% 20%,
            100% 80%,
            98% 100%,
            2% 100%,
            0% 80%,
            0% 10%)
}

.shadowLeft {
    position: absolute;
    min-height: 18px;
    min-width: 180px;
    left: -7%;
    top: -4%;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 1px 4px 1px, rgba(0, 0, 0, 0.09) 0px 8px 10px, rgba(0, 0, 0, 0.09) 0px 1px 0px, rgba(0, 0, 0, 0.09) 0px 1px 16px;
}

.rightBar {
    position: absolute;
    background: linear-gradient(124deg, rgba(216, 220, 231, 1) 0%, rgba(240, 240, 240, 1) 50%, rgba(118, 119, 120, 1) 100%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) -2px -2px 0px inset;
    min-height: 18px;
    max-width: 83px;
    right: -8%;
    top: -4%;
    clip-path: polygon(0 20%,
            4% 0,
            95% 0,
            100% 20%,
            100% 80%,
            95% 100%,
            4% 100%,
            0% 80%,
            0% 10%)
}

.shadowRight {
    position: absolute;
    min-height: 18px;
    max-width: 83px;
    right: -7.8%;
    top: -4%;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 1px 4px 1px, rgba(0, 0, 0, 0.09) 0px 8px 10px, rgba(0, 0, 0, 0.09) 0px 1px 0px, rgba(0, 0, 0, 0.09) 0px 1px 16px;
}

.bottomTypes {
    position: absolute;
    font-size: 8px;
    left: 2%;
    top: 20%;
    font-family: sans-serif;
}

.typeWeakness {
    position: absolute;
    height: 32px;
    left: 18%;
    top: -45%;
}

.x {
    position: absolute;
    left: 32%;
    top: 6%;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.x2 {
    position: absolute;
    left: 37%;
    top: -2%;
    font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
}

.spliter {
    position: absolute;
    left: 44.5%;
    border: 0.1px solid #909090;
    max-width: 0px;
    height: 10px;
}

.bottomTypes1 {
    position: absolute;
    font-size: 8px;
    left: 49%;
    top: 20%;
    font-family: sans-serif;
}

.typeResistance {
    position: absolute;
    height: 32px;
    left: 66%;
    top: -45%;

}

.resSymbol {
    position: absolute;
    left: 80%;
    top: 6%;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.resNumber {
    position: absolute;
    left: 85%;
    top: -2%;
    font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
}

.retreatType {
    position: absolute;
    font-size: 8px;
    left: 5%;
    top: 20%;
    font-family: sans-serif;
}

.retreatEnergy {
    display: flex;
    margin-left: 25px;
    align-items: center;
    position: absolute;
    top: -45%;
}

.retreatEnergy img {
    height: 32px;
    margin-right: -28px;
}

.bottomDesc {
    display: flex;
}

.pokemonData {
    position: absolute;
    top: 110%;
    left: 0%;
    font-size: 7px;
    font-family: Arial, Helvetica, sans-serif;
}

.pokemonDesc {
    position: absolute;
    top: 35%;
    right: -1%;
    font-size: 10px;
    min-width: 220px;
    font-family: Arial, Helvetica, sans-serif;
}

.pokeballCatchContainer {
    position: absolute;
    height: 60px;
    width: 50px;
}

.pokeballCatch {
    background-image: url(../../Assets/pokeball.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.3s;
    position: absolute;
    top: 85%;
    left: 50%;
    min-height: 125%;
    max-width: 45%;
    z-index: 12;
    display: inline-block;
    border-radius: 34px;
}

.pokeballCatch.hovered {
    background-image: url(../../Assets/pokeballGreen.png);
}

.pokeballCatchButton {
    position: absolute;
    top: 0px;
    left: 1px;
    height: 75px;
    min-width: 73px;
    border-radius: 34px;
    cursor: pointer;
    z-index: 14;
}

.nobu {
    position: absolute;
    top: 92%;
    left: 85%;
    font-size: 12px;
    font-family: "Shanders";
    max-width: 50px;
}