.containerPokedexCard {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99.5vw;
}

.pokedexBody {
    position: relative;
    background-image: url(../../Assets/Pokedex.png);
    background-size: cover;
    min-height: 650px;
    min-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pokemonName {
    position: absolute;
    top: 63.5%;
    left: 14%;
    width: 120px;
    height: 20px;
    z-index: 5;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 14px;
}

.pokedexCatchAlready {
    position: absolute;
    top: 40.5%;
    left: 10%;
    z-index: 5;
    background-image: url(../../Assets/pokeballAlreadyCatch.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    animation: tilt 2s ease infinite;
}

@keyframes tilt {

    0%,
    100% {
        transform: translate3d(0, 0, 0.01px) rotateZ(-10deg);
    }

    50% {
        transform: translate3d(0, 0, 0.01px) rotateZ(10deg);
    }

}

.pokedexSquare {
    position: absolute;
    top: 51%;
    left: 25%;
    transform: translate(-50%, -50%);
    height: 145px;
    width: 195px;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 3px;
}

.pokedexBackground {
    background-image: url(../../Assets/pokedexbackground1.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 145px;
    width: 220px;
    margin-left: 0px;
}

.pokedexPokemonSmall {
    position: absolute;
    top: 53%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}


.pokedexPokemonMedium {
    position: absolute;
    top: 52%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
}


.pokedexPokemonBigger {
    position: absolute;
    top: 51%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}

.pokedexDesc {
    position: absolute;
    top: 38%;
    right: 7%;
    background-color: rgb(2, 39, 78);
    border-radius: 4px;
    height: 76px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: normal;
}

.types {
    position: absolute;
    top: 6%;
    right: -1%;
    width: 68%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

.wrap {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 2px;
}

.typeNormal {
    background-color: #a8a878;
    /*  normal */
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.typeFire {
    background-color: #ec482b;
    /* fogo */
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.typeWater {
    background-color: #1085de;
    /* agua */
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.typeGrass {
    background-color: #44cd00;
    /* planta */
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.typeElectro {
    background-color: yellow;
    /* raio */
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.typePoison {
    background-color: #a040a0;
    /* veneno */
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.typeFly {
    background-color: #a890f0;
    /* voador */
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.typeGround {
    background-color: #e0c068;
    /* ground */
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.typeFighter {
    background-color: #c03028;
    /* lutador */
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.typeRock {
    background-color: #7f6c18;
    /* pedra */
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.typeBug {
    background-color: #a8b820;
    /* bug */
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.typePsy {
    background-color: #f85888;
    /* psy */
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.typeDragon {
    background-color: #7038f8;
    /*  dragon */
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.typeIce {
    background-color: #98d8d8;
    /* ice */
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.typeDark {
    background-color: #705848;
    /* dark */
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.typeGhost {
    background-color: #705898;
    /* ghost */
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.typeSteel {
    background-color: #b8b8d0;
    /* steel */
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.typeFairy {
    background-color: #ee99ac;
    /* fada */
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.advantage {
    border-radius: 2px;
    width: 14px;
    height: 14px;
    margin-top: -1px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.pokedexDescEffect {
    position: absolute;
    top: 38%;
    right: 7%;
    background-image: url(../../Assets/teste2.jpg);
    background-size: cover;
    border-radius: 4px;
    height: 76px;
    width: 260px;
    opacity: 0.6;
}

.pokedexDesc a {
    position: absolute;
    top: 40%;
    left: 3%;
    font-family: sans-serif;
    color: white;
    margin: 2px;
    font-size: 10px;
}

.controler {
    position: absolute;
    bottom: 12%;
    left: 28.5%;
    background-image: url(../../Assets/controller.png);
    background-size: cover;
    border-radius: 20px;
    border: 0px solid black;
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goToDetailsPage {
    position: absolute;
    bottom: 21.2%;
    left: 5.5%;
    height: 38px;
    width: 38px;
    border-radius: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 20px;
    font-family: sans-serif;
}

.effectLeft {
    position: absolute;
    bottom: 14%;
    left: 14.3%;
    background-image: url(../../Assets/effect.gif);
    background-repeat: no-repeat;
    background-size: 85px 58px;
    height: 58px;
    width: 83px;
    border-top: 2px solid #0a97e9;
    border-right: 2px solid #0a97e9;
    border-bottom: 2px solid #0a97e9;
    border-left: 1px solid #0a97e9;
    border-radius: 5px;
    opacity: 0.7;
}

.pokedexFirstType {
    position: absolute;
    bottom: 14%;
    right: 28.1%;
    background-image: url(../../Assets/backgroundscreen.gif);
    background-size: cover;
    border-radius: 4px;
    height: 38px;
    width: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.502) 2.2px 3px;
    transform: rotateZ(180deg);
}

.pokedexFirstType a {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    transform: rotateZ(180deg);
}

.blueScreenEffect1 {
    position: absolute;
    bottom: 14%;
    right: 28.1%;
    background-image: url(../../Assets/backgroundeffectbluescreen.gif);
    background-size: cover;
    border-radius: 4px;
    height: 38px;
    width: 105px;
    opacity: 0.2;
    animation-duration: 5s;
    animation-timing-function: linear;
}

.pokedexSecondType {
    position: absolute;
    bottom: 14%;
    right: 7.5%;
    background-color: black;
    border-radius: 4px;
    height: 38px;
    width: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.502) 2.2px 3px;
    transform: rotateZ(180deg);
}

.pokedexSecondType a {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    transform: rotateZ(180deg);
}

.blueScreenEffect2 {
    position: absolute;
    bottom: 14%;
    right: 7.5%;
    background-image: url(../../Assets/backgroundeffectbluescreen1.gif);
    background-size: cover;
    border-radius: 4px;
    height: 38px;
    width: 106px;
    opacity: 0.2;
}

@media (max-width: 750px) {

    .containerPokedexCard {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 99.5vw;
        height: 70vh;
        overflow: hidden;

        min-width: 375px;
        max-height: 500px;
        min-height: 500px;
        margin-top: -30px;
    }


    .pokedexBody {
        position: relative;
        top: 10px;
        left: 110px;
        background-image: url(../../Assets/pokedexmobile1.png);
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 450px;
        min-width: 580px;
        max-height: 450px;
        max-width: 580px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        /* border: 1px solid yellow; */
    }

    .pokemonName {
        position: absolute;
        top: 63.5%;
        left: 14%;
        width: 0px;
        height: 0px;
        z-index: 5;
        font-weight: 600;
        font-family: sans-serif;
        font-size: 0px;
    }

    .pokedexCatchAlready {
        position: absolute;
        top: 237px;
        left: 217px;
        z-index: 5;
        background-image: url(../../Assets/pokeballAlreadyCatch.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
        animation: tilt 2s ease infinite;
    }

    @keyframes tilt {

        0%,
        100% {
            transform: translate3d(0, 0, 0.01px) rotateZ(-10deg);
        }

        50% {
            transform: translate3d(0, 0, 0.01px) rotateZ(10deg);
        }

    }

    .pokedexSquare {
        position: absolute;
        top: 177px;
        left: 182px;
        transform: translate(-50%, -50%);
        height: 180px;
        width: 148px;
        border-radius: 18px;
        border: 0px solid black;
        overflow: hidden;
    }

    .pokedexBackground {
        background-image: url(../../Assets/pokedexbackground1.gif);
        background-size: cover;
        background-repeat: no-repeat;
        height: 180px;
        width: 200px;
        margin-left: -35px;
   
    }

    .pokedexPokemonSmall {
        position: absolute;
        top: 210px;
        left: 180px;
        transform: translate(-50%, -50%);
        z-index: 1;
        background-size: contain;
        background-repeat: no-repeat;
        height: 55px;
        width: 55px;
    }


    .pokedexPokemonMedium {
        position: absolute;
        top: 200px;
        left: 180px;
        transform: translate(-50%, -50%);
        z-index: 1;
        background-size: contain;
        background-repeat: no-repeat;
        height: 70px;
        width: 70px;
    }


    .pokedexPokemonBigger {
        position: absolute;
        top: 190px;
        left: 180px;
        transform: translate(-50%, -50%);
        z-index: 1;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
    }

    .pokedexDescEffect {
        position: absolute;
        top: 38%;
        right: 7%;
        background-image: url(../../Assets/teste2.jpg);
        background-size: cover;
        border-radius: 0px;
        height: 0px;
        width: 0px;
        opacity: 0.6;
    }

    .controler {
        position: absolute;
        bottom: 12%;
        left: 28.5%;
        background-image: url(../../Assets/controller.png);
        background-size: cover;
        border-radius: 0px;
        border: 0px solid black;
        height: 0px;
        width: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .goToDetailsPage {
        position: absolute;
        bottom: 160px;
        left: 261px;
        height: 22px;
        width: 22px;
        /* border: 1px solid black; */
        border-radius: 24px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(57, 57, 57);
        font-weight: 500;
        font-size: 20px;
        font-family: sans-serif;
    }

    .pokedexDesc {
        position: absolute;
        top: 0%;
        right: 0%;
        background-color: rgb(2, 39, 78);
        border-radius: 0px;
        height: 0px;
        width: 0px;
        display: flex;
        justify-content: center;
        align-items: normal;
    }

    .types {
        position: absolute;
        top: 6%;
        right: -1%;
        width: 0%;
        height: 0%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;
    }

    .wrap {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin: 0px;
    }

    .typeNormal {
        background-color: #a8a878;
        width: 0px;
        height: 0px;
        border-radius: 0px;
    }

    .typeFire {
        background-color: #ec482b;
        width: 0px;
        height: 0px;
        border-radius: 0px;
    }

    .typeWater {
        background-color: #1085de;
        width: 0px;
        height: 0px;
        border-radius: 0px;
    }

    .typeGrass {
        background-color: #44cd00;
        width: 0px;
        height: 0px;
        border-radius: 0px;
    }

    .typeElectro {
        background-color: yellow;
        width: 0px;
        height: 0px;
        border-radius: 0px;
    }

    .typePoison {
        background-color: #a040a0;
        width: 0px;
        height: 0px;
        border-radius: 0px;
    }

    .typeFly {
        background-color: #a890f0;
        width: 0px;
        height: 0px;
        border-radius: 0px;
    }

    .typeGround {
        background-color: #e0c068;
        width: 0px;
        height: 0px;
        border-radius: 0px;
    }

    .typeFighter {
        background-color: #c03028;
        width: 0px;
        height: 0px;
        border-radius: 0px;
    }

    .typeRock {
        background-color: #7f6c18;
        width: 0px;
        height: 0px;
        border-radius: 0px;
    }

    .typeBug {
        background-color: #a8b820;
        width: 0px;
        height: 0px;
        border-radius: 0px;
    }

    .typePsy {
        background-color: #f85888;
        width: 0px;
        height: 0px;
        border-radius: 0px;
    }

    .typeDragon {
        background-color: #7038f8;
        width: 0px;
        height: 0px;
        border-radius: 0px;
    }

    .typeIce {
        background-color: #98d8d8;
        width: 0px;
        height: 0px;
        border-radius: 0px;
    }

    .typeDark {
        background-color: #705848;
        width: 0px;
        height: 0px;
        border-radius: 0px;
    }

    .typeGhost {
        background-color: #705898;
        width: 0px;
        height: 0px;
        border-radius: 0px;
    }

    .typeSteel {
        background-color: #b8b8d0;
        width: 0px;
        height: 0px;
        border-radius: 0px;
    }

    .typeFairy {
        background-color: #ee99ac;
        width: 0px;
        height: 0px;
        border-radius: 0px;
    }

    .advantage {
        border-radius: 0px;
        width: 0px;
        height: 0px;
        margin-top: 0px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0px;
    }

    .effectLeft {
        position: absolute;
        bottom: 14%;
        left: 14.3%;
        background-image: url(../../Assets/effect.gif);
        background-repeat: no-repeat;
        background-size: 0px 0px;
        height: 0px;
        width: 0px;
        border-top: 0px solid #0a97e9;
        border-right: 0px solid #0a97e9;
        border-bottom: 0px solid #0a97e9;
        border-left: 0px solid #0a97e9;
        border-radius: 0px;
        opacity: 0;
    }

    .pokedexFirstType {
        position: absolute;
        bottom: 14%;
        right: 28.1%;
        background-image: url(../../Assets/backgroundscreen.gif);
        background-size: cover;
        border-radius: 4px;
        height: 0px;
        width: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.502) 2.2px 3px;
        transform: rotateZ(180deg);
    }

    .pokedexFirstType a {
        font-family: sans-serif;
        font-weight: 600;
        font-size: 0px;
        transform: rotateZ(180deg);
    }

    .blueScreenEffect1 {
        position: absolute;
        bottom: 14%;
        right: 28.1%;
        background-image: url(../../Assets/backgroundeffectbluescreen.gif);
        background-size: cover;
        border-radius: 4px;
        height: 0px;
        width: 0px;
        opacity: 0;
    }

    .pokedexSecondType {
        position: absolute;
        bottom: 14%;
        right: 7.5%;
        background-color: black;
        border-radius: 0px;
        height: 0px;
        width: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.502) 2.2px 3px;
        transform: rotateZ(180deg);
    }

    .pokedexSecondType a {
        font-family: sans-serif;
        font-weight: 600;
        font-size: 0px;
        transform: rotateZ(180deg);
    }

    .blueScreenEffect2 {
        position: absolute;
        bottom: 14%;
        right: 7.5%;
        background-image: url(../../Assets/backgroundeffectbluescreen1.gif);
        background-size: cover;
        border-radius: 4px;
        height: 0px;
        width: 0px;
        opacity: 0;
    }

}